.container {
  display: flex;
  flex-direction: column;
}

.top {

}

.body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 100px;
  padding-left: 100px;
  margin: 30px;
}

.left {
  display: flex;
  flex-direction: column;
}

.img {
  text-align: center;
}

.fixedReservations {
  position: fixed;
  top: 15px;
}

.right {
}